@model ServiceBay.Dto.AuctionForCreationDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuctionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuctionDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartingPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartingPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SellerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SellerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <div class="form-group-lg">
        <label asp-for="Price" class="control-label"></label>
        <input id="inputPrice" asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Bid" id="bidButton" class="btn btn-primary" style="margin-top: 10px" />
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        //$('#bidButton').click(function () {
        //    bid();
        //});

        $('#bidButton').click(function () {
            var price = document.getElementById("inputPrice").value;
            var auction = @Model.Id;

            var inserttemp = {
                Id: 13,
                Price: price,
                BuyerId: 0,
                AuctionId: auction
            };

            $.ajax({ 
                type: 'POST',
                url: '/MvcBid/Create',
                data: JSON.stringify(inserttemp),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        });
    });

    @*function bid() {
        var x = document.getElementById("bidButton").value;
        $.ajax({
            type: "POST",
            url: "@Url.Action("Bidding")",
            data: { inputP: x, _AuctionId: @Model.Id},
            dataType: "json",
            success: function () {
                console.log("success");
            }
        })
    };*@
</script>